/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}









/* VARIABLES */

:root {
    --nav-color: #a3a3a3;
}


/* TYPOGRAPHY */
body {
    font-family: 'Montserrat', sans-serif;
}








/* UTILITIES */

.flex {
    display: flex;
}

.only-mobile {
    display: none;
}









/* COMMON */

.nav-menu p,
.nav-menu span,
.nav-menu a {
    color: var(--nav-color);
    font-size: .75rem;
}









/* MAIN */


/* SECTION NAV-MENU */

.nav-menu {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}




.nav-menu .logo>img {
    width: 70%;
    padding: 20px 0;
}


.nav-menu .search img {
    width: 10%;
}

.nav-menu .search {
    flex-direction: column;
}


.nav-menu span {
    color: white;
}

.nav-menu .row-small {
    padding: 5px 0;
    align-items: center;
    gap: 10px;

}

.nav-menu .playlist-header i {
    background-color: grey;
    padding: 3.5px 10px;
    font-size: 30px;
    font-weight: 900;
}


.playlist {
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.playlist .playlist-header h3 {
    color: white;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 0;
    padding-top: 25px;
    padding-bottom: 10px;

}

.playlist-body {
    overflow: auto;

}

.playlist-body li {
    padding-top: 15px;
}

.playlist-body a {
    font-size: .75rem;
    color: var(--nav-color);
}


.bottom {
    margin-top: auto;
}



.bottom img {
    width: 6%;
}

.bottom .profile {
    background-color: var(--nav-color);
    border-radius: 50%;
    width: 15%;
}


.bottom .install {
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.bottom .profile-container {
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}


/* SECTION MAIN-MENU */



.main-menu {
    height: calc(100vh - 90px);
    background-color: burlywood;
    flex-grow: 1;
}


.main-menu .subscribe {
    background-color: aqua;
}

























/* FOOTER */

footer {
    height: 90px;
    position: relative;
    width: 100vw;
    background-color: #282828;
}

.menu-bottom {
    width: 100%;
    position: fixed;
    height: 90px;
    align-items: center;
    bottom: 0;
}

.menu-bottom ul {
    list-style: none;
}


.mid-menu {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    height: 100%;
}

.play {
    align-items: center;
}

.menu-bottom .mid-menu .play i.small {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px;
}


.menu-bottom .mid-menu .play i.big {
    font-size: 32px;
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.time-bar span {
    margin: 0 25px;
    color: white;
    font-size: 12px;
}

.time-bar {
    width: 40%;
    align-items: center;
    padding-top: 5px;
}

.bar {
    width: 100%;

}

.bar a {
    color: #a3a3a3;
}

.bar a hr {
    height: 4px;
    background-color: #a3a3a3;
    border-radius: 200px;
}






























/* RESPONSIVE */




/* 1200px */


@media screen and (max-width: 1200px) {}








/* 992px */


@media screen and (max-width: 992px) {}








/* 768px */


@media screen and (max-width: 768px) {}








/* 576px */



@media screen and (max-width: 576px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .nav-menu {
        width: 50px;
        padding: 0 15px;
    }


    .nav-menu .logo>img {
        width: 100%;
        padding: 5px 0;
    }


    .nav-menu .search img {
        width: 100%;
    }

    .bottom img,
    .bottom .profile {
        width: 100%;
    }


}