/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}









/* VARIABLES */

:root {
    --nav-color: #a3a3a3;
}


/* TYPOGRAPHY */
body {
    font-family: 'Montserrat', sans-serif;
}








/* UTILITIES */

.flex {
    display: flex;
}

.only-mobile {
    display: none;
}

.hover-play {
    display: none;
    font-size: 6rem;
    padding: 30%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    color: white;
    background-color: #282828;
    opacity: 0.5;
}


.img:hover .hover-play {
    display: block;
}

.img {
    position: relative;
}


.glow:hover {
    filter: brightness(5);
    font-weight: 700;
}

.glow-underline:hover {
    filter: brightness(5);
    font-weight: 700;
    text-decoration: underline white;
}


.menu-bottom .left-menu .glow-bottom:hover {
    color: white
}

.menu-bottom .mid-menu .play i.big.glow-mid-bottom:hover {
    color: white;
    font-size: 34px;
    filter: brightness(2);
}

.container-main-menu .subscribe .upgrade:hover {
    width: 260px;
    height: 50px;
    font-size: 1rem;
}


.green-underline-bottom {
    border-bottom: 2px solid #adff2f;
    margin-left: 20px;
    margin-right: 10px;


}

.green-underline-left {
    border-left: 2px solid #adff2f;
}


.time-bar:hover .bar.bright,
.right-menu .time-bar:hover .bar.bright {
    background-color: #adff2f;
}



.time-bar:hover .only-hover {
    display: inline-block;
}






/* COMMON */

.nav-menu p,
.nav-menu span,
.nav-menu a {
    color: var(--nav-color);
    font-size: .75rem;
}










/* MAIN */


/* SECTION NAV-MENU */

.container-xxl {
    position: relative;
}

.nav-menu {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}




.nav-menu .logo>img {
    width: 70%;
    padding: 20px 0;
}


.nav-menu .search img {
    width: 10%;
}

.nav-menu .search {
    flex-direction: column;
}


.nav-menu span {
    color: white;
}

.nav-menu .row-small {
    padding: 5px 0;
    align-items: center;
    gap: 10px;

}

.nav-menu .playlist-header a {
    color: black;
}

.nav-menu .playlist-header i {
    background-color: grey;
    padding: 3.5px 10px;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 5px;
}


.playlist {
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.playlist .playlist-header h3 {
    color: white;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 0;
    padding-top: 25px;
    padding-bottom: 10px;

}

.playlist-body {
    overflow: auto;

}

.playlist-body li {
    padding-top: 15px;
}

.playlist-body a {
    font-size: .75rem;
    color: var(--nav-color);
}


.bottom {
    margin-top: auto;
}



.bottom img {
    width: 6%;
}

.bottom .profile {
    background-color: var(--nav-color);
    border-radius: 50%;
    width: 15%;
}


.bottom .install {
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.bottom .profile-container {
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.bottom .profile-container h4 {
    color: white;
    font-size: .875rem;
}


/* SECTION MAIN-MENU */



.container-main-menu {
    height: calc(100vh - 90px);
    background-color: #141922;
    flex-grow: 1;
}


.container-main-menu {
    position: relative;
}


.container-main-menu .subscribe {
    background-color: rgba(8, 11, 18, 0.3);
    height: 90px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: flex-end;
}



.container-main-menu .subscribe .upgrade {
    margin-left: auto;
    margin-right: 5px;
    height: 40px;
    width: 220px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255, 1);
    background-color: rgb(8, 11, 18, 0.3);
    color: rgb(255, 255, 255, 2);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}


.container-main-menu .main-menu {
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 90px;
    bottom: 0;
    width: 100%;
    padding-bottom: 90px;
}


.container-main-menu .main-menu .contents {
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 20px;

}

.container-main-menu .main-menu ul li a {
    color: var(--nav-color);
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 10px;
}


.container-main-menu .main-menu ul li {
    padding-bottom: 40px;
}


.box-row {
    width: 100%;
    gap: 15px;
    padding: 0 20px;
}


.main-menu .row .box-container {
    width: calc(100% / 6);

}




.row {
    flex-direction: column;
}

.main-menu .row .box-container .box {
    width: 100%;
    padding: 10px 0;
}

.main-menu .row .box-container .box .img {
    cursor: pointer;
}

.main-menu .row .box-container .box img {
    width: 100%;
}

.main-menu .row .box-container .box .round img {
    border-radius: 50%;
}

.main-menu .row h2 {
    padding-top: 5px;
    color: white;
    padding-left: 20px;
}

.padding {
    padding-bottom: 20px;
}

.main-menu .row h4 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 1rem;
}

.main-menu .row .box-row .info .subtitle {
    padding: 10px 0;
    height: 10px;
    font-size: .75rem;
    color: var(--nav-color);
    text-align: center;
}


.main-menu .row .subtitle {
    padding-left: 20px;
    color: var(--nav-color);
    font-size: 0.75rem;
    padding-top: 15px;
    padding-bottom: 30px;
}



/* FOOTER */

footer {
    height: 90px;
    position: relative;
    width: 100vw;
    background-color: #282828;
}

.menu-bottom {
    width: 100%;
    position: fixed;
    height: 90px;
    align-items: center;
    bottom: 0;
}

.menu-bottom ul {
    list-style: none;
}



/* MID MENU */
.mid-menu {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    height: 100%;
}

.play {
    align-items: center;
}

.menu-bottom .mid-menu .play i.small {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px;
}


.menu-bottom .mid-menu .play i.big {
    font-size: 32px;
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.time-bar span {
    margin: 0 25px;
    color: white;
    font-size: 12px;
}

.mid-menu .time-bar {
    width: 100%;
    align-items: center;
    padding-top: 5px;
    min-width: 160px;
    height: 19px;
}

.mid-menu .bar {
    width: 100%;
}

.mid-menu .bar a {
    color: #a3a3a3;
}


.mid-menu .bar.dark hr {
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 200px;
    opacity: 0.5;
}

.mid-menu .bar.bright {
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 200px;
}

.only-hover {
    color: white;
    display: none;
}



/* LEFT MENU */
.menu-bottom .left-menu {
    padding-left: 10px;
    align-items: center;
    width: 30%;
}


.left-menu .nome-brano {
    padding-left: 10px;
    width: 80px;
}

.left-menu .nome-brano h4 {
    font-size: 12px;
    color: white;
}

.left-menu .nome-brano p {
    font-size: 10px;
    font-weight: 700;
    color: var(--nav-color);
}


.menu-bottom .left-menu .brano {
    width: 45px;
}

.menu-bottom .left-menu .brano img {
    width: 100%;
}

.left-menu .icons a {
    padding-left: 10px;
    color: var(--nav-color);
    font-size: .8125rem;
}


/* RIGHT MENU */

.right-menu {
    width: 250px;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.right-menu .time-bar {
    align-items: center;
    padding-right: 10px;
    justify-content: flex-end;
}

.right-menu a {
    color: #a3a3a3;

}



.right-menu .time-bar .bar.bright {
    width: 25px;
    height: 5px;
    background-color: white;

}


.right-menu .time-bar .bar.dark {
    width: 95px;
    height: 5px;
    background-color: var(--nav-color);
    opacity: 0.5;
}

.right-menu .time-bar {
    width: 100%;
    max-width: 120px;
}

.right-menu .time-bar span {
    margin: 0;
}






/* RESPONSIVE */




/* 1200px */


@media screen and (max-width: 1200px) {}








/* 992px */


@media screen and (max-width: 992px) {
    .time-bar span {
        margin: 0 15px;
    }


    .main-menu .row .box-row {
        flex-wrap: wrap;
    }

    .main-menu .row .box-container {
        width: calc(100% / 4 - 15px);
    }
}








/* 768px */


@media screen and (max-width: 768px) {

    .time-bar span {
        margin: 0 10px;
    }

    .main-menu .row .box-row {
        flex-wrap: wrap;
    }

    .main-menu .row .box-container {
        width: calc(100% / 2 - 10px);
    }
}








/* 576px */



@media screen and (max-width: 576px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .nav-menu {
        width: 50px;
        padding: 0 15px;
    }


    .nav-menu .logo>img {
        width: 100%;
        padding: 5px 0;
    }


    .nav-menu .search img {
        width: 100%;
    }

    .bottom img,
    .bottom .profile {
        width: 100%;
    }


    .mid-menu .time-bar {
        width: 100%;
    }

    .time-bar span {
        margin: 0 5px;
    }

    .main-menu .row .box-row {
        flex-wrap: wrap;
    }

    .main-menu .row .box-container {
        width: calc(100% / 2 - 10px);
    }


    .menu-bottom .left-menu .icons {
        flex-wrap: wrap;
    }
}